{% extends './../../components/base.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}

{% block meta %}
<style>
    .home-hero {
        height: 70vh;
        position: relative;

    }

    .home-hero img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
    }

    .overlay {
        background: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .card-img {
        width: 100%;
        overflow: hidden;
        max-height: 250px;
        background: rgb(224, 233, 255);
        position: relative;
    }


    .avatar {
        min-width: 50px;
        min-height: 50px;
        max-width: 50px;
        max-height: 50px;
        border-radius: 50%;
        background: rgb(224, 233, 255);
    }

    .card-img-top {
        height: 250px;
        max-height: 250px;
    }
</style>
{% endblock %}

{% block content %}
<div class="home-hero pt-5">
    <img src="{% static '/assets/images/coding.jpeg' %}" />
    <div class="overlay"></div>
    <div class="container">
        <h1 class="text-white display-4">
            Welcome to CourseShool
        </h1>
    </div>
</div>

<div class="container py-5">
    <h2 class="text-center">
        About Us
    </h2>
    <p class="text-center">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et maiores ratione voluptates <br>
        sint recusandae repudiandae harum. Numquam temporibus, <br>
        quaerat error aperiam aspernatur provident commodi minus veniam ipsum reiciendis voluptas magni?
    </p>

    <div class="mt-5">
        <h3>
            Featured Courses
        </h3>
        <div class="featured">

            <div class="row my-2">

                {% for course in featured_courses %}
                <div class="col-md-4">
                    <div class="card">
                        <img src="{% static '/assets/images/html.png' %}" class="card-img-top" />
                        <div class="card-body">
                            <h3 class="text-capitalize title">{{course.title}}</h3>
                            <p class="desc">
                                {{course.description}}
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <!-- <button class="btn btn-primary">Read more</button> -->
                                <h4>{{course.cost}}</h4>
                                <a href="#" class="btn btn-primary">Enroll now</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

        </div>
    </div>

    <div>
        <h3>
            Recent Courses
        </h3>
        <div class="recent">

            <div class="row my-2">

                {% for course in recent_courses %}
                <div class="col-md-4">
                    <div class="card">
                        <img src="{% static '/assets/images/html.png' %}" class="card-img-top" />
                        <div class="card-body">
                            <h3 class="text-capitalize title">{{course.title}}</h3>
                            <p class="desc">
                                {{course.description}}
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <!-- <button class="btn btn-primary">Read more</button> -->
                                <h4>{{course.cost}}</h4>
                                <a href="#" class="btn btn-primary">Enroll now</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>

    <div>
        <h3>
            Popular Courses
        </h3>
        <div class="popular">

            <div class="row my-2">

                {% for course in popular_courses %}
                <div class="col-md-4">
                    <div class="card">
                        <img src="{% static '/assets/images/html.png' %}" class="card-img-top" />
                        <div class="card-body">
                            <h3 class="text-capitalize title">{{course.title}}</h3>
                            <p class="desc">
                                {{course.description}}
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <!-- <button class="btn btn-primary">Read more</button> -->
                                <h4>{{course.cost}}</h4>
                                <a href="#" class="btn btn-primary">Enroll now</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>

    <div>
        <h3>
            Upcoming Courses
        </h3>
        <div class="upcoming">

            <div class="row my-2">

                {% for course in upcoming_courses %}
                <div class="col-md-4">
                    <div class="card">
                        <img src="{% static '/assets/images/html.png' %}" class="card-img-top" />
                        <div class="card-body">
                            <h3 class="text-capitalize title">{{course.title}}</h3>
                            <p class="desc">
                                {{course.description}}
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <!-- <button class="btn btn-primary">Read more</button> -->
                                <h4>...</h4>
                                <a href="#" class="btn btn-primary disabled">Enroll now</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

        </div>
    </div>

</div>

<div class="container mt-5">
    <h2 class="text-center">Why Us</h2>
    {% include './../components/corevalues.html' %}
</div>

<div class="container my-5">
    <h2 class="text-center mb-3">What people say about Us</h2>
    {% include './../components/reviews.html' %}
</div>



{% endblock content %}