{% extends './../../components/base.html' %}
{% block title %}
RMS|Login
{% endblock %}

{% block meta%}
<style>
    #auth-right {
        background-color: #435ebe;
    }
</style>
{% endblock %}


{% block content %}
<div class="container-fluid">
    <div id="auth">
        <div class="row h-100">
            <div class="col-12 col-md-5 offset-md-3 pt-5">
                <div id="auth-left">
                    <h1 class="auth-title">Request password reset</h1>
                    <p class="auth-subtitle mb-5">
                        Enter your account email below to request a password reset.
                    </p>

                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group position-relative has-icon-left mb-4">
                            {{form.new_password1}}
                            <div class="form-control-icon">
                                <i class="bi bi-shield-lock"></i>
                            </div>
                        </div>
                        <div class="form-group position-relative has-icon-left mb-4">
                            {{form.new_password2}}
                            <div class="form-control-icon">
                                <i class="bi bi-shield-lock"></i>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Reset Password</button>
                    </form>

                    {% for message in messages %}
                    {% if message.tags == "error" %}
                    <div class="card alert-danger p-4">
                        {{ message }}
                    </div>
                    {% else %}
                    <div class="card alert-{{ message.tags }} p-4">
                        {{ message }}
                    </div>
                    {% endif %}

                    {% endfor %}
                </div>
            </div>

        </div>

    </div>

</div>
s
<script>
    // form-control form-control-xl shadow-none
    window.addEventListener('load', () => {
        // const email_input = document.getElementById('id_email');
        const labels = document.getElementsByTagName('label');

        // email_input.classList.add('form-control');
        // email_input.classList.add('form-control-xl');
        // email_input.classList.add('shadow-none');
        // email_input.placeholder = "Email"

        for (let i = 0; i < labels.length; i++) {
            labels[i].classList.add('d-none');
        }
    })

</script>
{% endblock content %}