{% extends './../../components/base.html' %}
{% block title %}
RMS|Login
{% endblock %}

{% block meta%}
<style>
    #auth-right {
        background-color: #435ebe;
    }
</style>
{% endblock %}


{% block content %}
<div class="container-fluid">
    <div id="auth">
        <div class="row h-100">
            <div class="col-12 col-md-5 offset-md-3 pt-5">
                <div id="auth-left">
                    <h1 class="auth-title">Email sent</h1>
                    <p class="auth-subtitle mb-5">
                        Password reset request done
                    </p>

                   <div class="card p-3 alert-success">
                      A message to reset your password has been sent to your email.
                   </div>

                </div>
            </div>

        </div>

    </div>

</div>

{% endblock content %}