<div class="row my-2 my-md-5 values justify-content-center">
    <div class="col-md-4">
        <div class="card overflow-hidden value">
            <div class="card-body">
                <h3 class="text-capitalize">Transparency</h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aspernatur unde sunt eaque iusto molestias cupiditate facilis iste labore
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card overflow-hidden value">
            <div class="card-body">
                <h3 class="text-capitalize">Honesty</h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aspernatur unde sunt eaque iusto molestias cupiditate facilis iste labore
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card overflow-hidden value">
            <div class="card-body">
                <h3 class="text-capitalize">Accountability</h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aspernatur unde sunt eaque iusto molestias cupiditate facilis iste labore
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card overflow-hidden value">
            <div class="card-body">
                <h3 class="text-capitalize">Quality products and services</h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aspernatur unde sunt eaque iusto molestias cupiditate facilis iste labore
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card overflow-hidden value">
            <div class="card-body">
                <h3 class="text-capitalize">Proper communication system</h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aspernatur unde sunt eaque iusto molestias cupiditate facilis iste labore
            </div>
        </div>
    </div>

</div>