<div class="row my-2 my-md-5">
    <div class="col-md-4">
        <div class="card policy">
            <div class="card-body">
                <h3 class="text-capitalize">Providing timely information and services to customers</h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aspernatur unde sunt eaque iusto molestias cupiditate facilis iste labore
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card policy">
            <div class="card-body">
                <h3 class="text-capitalize">Solving problems concerning clients on timely manner</h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aspernatur unde sunt eaque iusto molestias cupiditate facilis iste labore
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card policy">
            <div class="card-body">
                <h3 class="text-capitalize">Providing platform for raising issues</h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aspernatur unde sunt eaque iusto molestias cupiditate facilis iste labore
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card policy">
            <div class="card-body">
                <h3 class="text-capitalize">Mandatory security deposits</h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aspernatur unde sunt eaque iusto molestias cupiditate facilis iste labore
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card policy">
            <div class="card-body">
                <h3 class="text-capitalize">Move-in/ move-out forms</h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aspernatur unde sunt eaque iusto molestias cupiditate facilis iste labore
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card policy">
            <div class="card-body">
                <h3 class="text-capitalize">Traffic logs to keep track of potential residents</h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aspernatur unde sunt eaque iusto molestias cupiditate facilis iste labore
            </div>
        </div>
    </div>

</div>