{% load static %}


<div class="row clearfix">
    <div class="col-md-4 pt-md-4">
        <!-- <h4>Some text here</h4> -->
        <p>
            Here is what our clients say about Nirvaner Ventures property Management.
            They have rated us for our top expertise and great work done.
        </p>
    </div>
    <div class="col-md-8">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <!-- <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div> -->
            <div class="carousel-inner carousel-heigh">
                <div class=" carousel-item p-2 p-md-3 active">
                    <div class="card p-2 p-md-2 review-shadow">
                        <h4>Rovine</h4>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Nulla error ipsum iure architecto necessitatibus, consequatur reiciendis minus ex quos
                            placeat,
                            labore fugit?
                            Consequatur totam unde explicabo, quibusdam dolore voluptas dolorum.
                        </p>
                        <div class="my-2">
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                        </div>
                    </div>
                    <div class="avatar">
                        <img src="{% static '/assets/images/housepics/img1.jpg' %}" alt="">
                    </div>
                </div>
                <div class="carousel-item p-2 p-md-3">
                    <div class="card p-2 p-md-2 review-shadow">
                        <h4>Dalmas</h4>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Nulla error ipsum iure architecto necessitatibus, consequatur reiciendis minus ex quos
                            placeat,
                            labore fugit?
                            Consequatur totam unde explicabo, quibusdam dolore voluptas dolorum.
                        </p>
                        <div class="my-2">
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                        </div>
                    </div>
                    <div class="avatar">
                        <img src="{% static '/assets/images/housepics/img1.jpg' %}" alt="">
                    </div>
                </div>
                <div class="carousel-item p-2 p-md-3">
                    <div class="card p-2 p-md-2 review-shadow">
                        <h4>Wanjala</h4>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Nulla error ipsum iure architecto necessitatibus, consequatur reiciendis minus ex quos
                            placeat,
                            labore fugit?
                            Consequatur totam unde explicabo, quibusdam dolore voluptas dolorum.
                        </p>
                        <div class="my-2">
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                        </div>
                    </div>
                    <div class="avatar">
                        <img src="{% static '/assets/images/housepics/img1.jpg' %}" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-4">
        <div class="d-flex">
            <button class="carousel-control-pre review-btn me-2" type="button"
                data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-nex review-btn" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>