<div class="row my-2 my-md-5">
    <div class="col-md-4">
        <div class="card service">
            <div class="card-body">
                <h3 class="text-capitalize">Rent Collection</h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aspernatur unde sunt eaque iusto molestias cupiditate
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card service">
            <div class="card-body">
                <h3 class="text-capitalize">Cleaning Services</h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aspernatur unde sunt eaque iusto molestias cupiditate facilis
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card service">
            <div class="card-body">
                <h3 class="text-capitalize">Safety & Security</h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aspernatur unde sunt eaque iusto molestias cupiditate facilis
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card service">
            <div class="card-body">
                <h3 class="text-capitalize">Garbage collection</h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aspernatur unde sunt eaque iusto molestias cupiditate facilis
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card service">
            <div class="card-body">
                <h3 class="text-capitalize">Filing of financial reports</h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aspernatur unde sunt eaque iusto molestias cupiditate facilis
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card service">
            <div class="card-body">
                <h3 class="text-capitalize">Maintanance reports</h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aspernatur unde sunt eaque iusto molestias cupiditate facilis
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card service">
            <div class="card-body">
                <h3 class="text-capitalize">Financial advice</h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aspernatur unde sunt eaque iusto molestias cupiditate facilis
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card service">
            <div class="card-body">
                <h3 class="text-capitalize">Property repairs & maintanance</h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aspernatur unde sunt eaque iusto molestias cupiditate facilis
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card service">
            <div class="card-body">
                <h3 class="text-capitalize">Property portifolio analysis</h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aspernatur unde sunt eaque iusto molestias cupiditate facilis
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card service">
            <div class="card-body">
                <h3 class="text-capitalize">Value addition/ value evaluation to properties</h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aspernatur unde sunt eaque iusto molestias cupiditate facilis
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card service">
            <div class="card-body">
                <h3 class="text-capitalize">Buying and selling of properties</h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aspernatur unde sunt eaque iusto molestias cupiditate facilis
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card service">
            <div class="card-body">
                <h3 class="text-capitalize">Market research for competitive advantage.</h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aspernatur unde sunt eaque iusto molestias cupiditate facilis
            </div>
        </div>
    </div>



</div>